<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622452012897-id340fhigh4ukld05fui1ejlbvj7jpuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622452012897-id340fhigh4ukld05fui1ejlbvj7jpuh</string>
	<key>API_KEY</key>
	<string>AIzaSyANcWQfjGYh9ClTSOGZzf4lI6KI2Mf8RRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>622452012897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitnessapp</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-de254</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-de254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622452012897:ios:d4f6bc1e2ec96b79b6b720</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-app-de254.firebaseio.com</string>
</dict>
</plist>